@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}
.cursor-crosshair {
  cursor: crosshair;
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-up {
  animation: fadeInUp 0.6s ease-in-out;
}
/* globals.css */
body {
  position: relative;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}
